@import url(/styles/header.css);
@import url(/styles/carrosel.css);
@import url(/styles/contato.css);
@import url(/styles/rodape.css);

:root{
    --cor-principal: #d8dbca;
    --cor-secundaria: #fffbfb;

    --cor-escrita:#080808;
    --cor-defundo: #d8dbca;
    --fote-principal: "roboto";
    --fonte-secundaria: "prompt";
   } 
    
    
body{
        background-color: rgb(236, 236, 236);
        font-family:   'signika negative',  sans-serif;

}

h1 {
    color: var(--branco);
}

.secao1 {
    background-image: linear-gradient(#828b99,#f0f0f0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.secao1-titulo {
    padding: 24px 0;
    font-size: 26px;
}

.secao1-p1 {
    font-size: 18px;
}

.secao1-imagem {
    width: 20%;
}

.secao1-div-conteudo{
    width: 35%;
}

.nome-img {
    width: 200px;
}

.div-apresentacao{
    text-align: center;
    padding: 16px 0;
}

.apresentacao-titulo{
    text-align: center;
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 24px;
}

.icones{
    display: flex;
    justify-content: center;
}

.icon-redes{
    width: 24px;
    padding: 4px 20px;
}

.section3-img-1{
    width: 40%;
}
