.cabecalho {
  display: flex;
  justify-content: space-between;
  background-color: var (--branco);
  position: relative;
  align-items: center;
}

.cabecalho__menu {
  display: inline-block;
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24x;
  height: 24x;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__imagem {
  width: 10%;
  padding: 1em;
}

.cabecalho__lista {
  display: none;
  background-color: rgb(172, 136, 206);
  position: absolute;
  top: 100%;
  width: 60vw%;
}

.container__menu:checked~.cabecalho__lista {
  display: block;
}

.cabecalho__menu {
  display: none;
}

.cabecalho__lista-titulo{
  color: var(--branco:)
}

  .cabecalho__lista-item{
    color: var(--azul);
    padding: 1em;

  }

  .menu__lista-item{
    color: var(--azul)
  }



@media screen and (min-width: 1024px) {
   .container-titulo { 
     display: block;
     font-family; var (--fote-principal);
     font-weight: 400;
     font-style: 30px;

   }

   .cabecalho__menu{
   display: none;
   }

   .cabecalho__favorito{
    display: none;
   }
    
    
    }